<footer role="contentinfo">
    <div class="footer-content">
        {{ include.licenseinfo }}
        <p class="copyright">Copyright © {{ site.time | date: '%Y' }} Uquinix Inc. All rights reserved.</p>
        <p class="trademark">Seva and the Seva logo are trademarks of Uquinix Inc.</p>
    </div>
    <div class="footer-other">
        <form class="color-scheme-toggle" role="radiogroup" tabindex="0" id="color-scheme-toggle">
            <legend class="visuallyhidden">Color scheme preference</legend>
            <label for="scheme-light">
        <input id="scheme-light" type="radio" name="color-scheme-preference" value="light">
        <span class="color-scheme-toggle-label">Light</span>
      </label>
            <label for="scheme-dark">
        <input id="scheme-dark" type="radio" name="color-scheme-preference" value="dark">
        <span class="color-scheme-toggle-label">Dark</span>
      </label>
            <label for="scheme-auto" id="scheme-auto-wrapper">
        <input id="scheme-auto" type="radio" name="color-scheme-preference" value="auto">
        <span class="color-scheme-toggle-label">Auto</span>
      </label>
        </form>
    </div>
</footer>